@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: #333333;
    color: white;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

.wrapper form{
    background: #242424;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 25px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.wrapper form select{
    padding: 5px;
    background-color: white;
    font-family: inherit;
    font-weight: 700;

}

.file{
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    border-radius: 10px;


}

.file::file-selector-button {
    font-family: inherit;
    font-weight: 700;
    color: #242424;
    padding: 0.5em;
    border: 1px solid white;
    background-color: white;

  }

.upload{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #242424;
    width: 5rem;
    height: 2rem;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: none;
    }

.image-wrapper{
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 25px;
    overflow: hidden;
    background-color: #242424;
    padding: 1rem;
}

.result-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.result{
    padding: 1rem;
    border: 2px solid white;
    background-color: #242424;
    border-radius: 25px;
    
}

.result-images{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.original-image{
    border: 2px solid white;
    border-radius: 25px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    margin: auto;
    background: #242424;
}

.original-image img{
    height: 100%;
    width: 100%;
}

.result-images{
    border: 2px solid white;
    border-radius: 25px;
    background: #242424;
}